{{#extends "base"}}
{{#block "content"}}
<h1>product list</h1>
<a class="btn btn-info" href="/products/create">add new</a>
 <a class="btn btn-danger" href="/users/logout">logout</a>  
 <form method="GET">
    {{{form}}}
    <input type="submit" class="my-3 btn btn-primary" value="Search"/>

 </form>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Cost</th>
                <th>Description</th>
                <th>Tags</th>
                <th>img</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr>
                    <td>
                        {{this.id}}
                    </td>
                    <td>{{this.name}}</td>
                    <td>{{this.category.name}}</td>
                    <td>{{this.cost}}</td>
                    <td>{{this.description}}</td>
                    <td>
                        {{#each this.tags}}
                        <span class="badge bg-primary">{{this.name}}</span>
                        {{/each}}
                    </td>
                    <td><img src="{{this.image_url}}"
                    width="200"
                    /></td>
                    <td>
                    <a class="btn btn-success" href="/products/{{this.id}}/update">update</a>
                     <a class="btn btn-danger" href="/products/{{this.id}}/delete">delete</a></td>
                </tr>
            {{/each}}
        </tbody>

    </table>
{{/block}}
{{/extends}}